
<h2><%= current_user.name %>のDM一覧</h2>

<% @anotherEntries.each do |e| %>
    <div class="dm_index">
        <%= link_to e.user.name, room_path(e.room_id)%>
    </div>
<% end %>

<%= link_to "メインページへ", main_posts_path %>
