<%= stylesheet_link_tag 'top', :media => "all" %>

<div class="wrapper">
    <div class="top">
        <div class="top__main">
            <img src="/assets/top.png" alt="top" />
            <h1>女性エンジニアと<br>繋がる</h1>
            <p>女性エンジニアやエンジニアを目指す女性が繋がるサービスです。</p>
            <div class="top__btn">
                <%= button_to "新規登録（無料）", new_user_registration_path, {class: "btn float", method: :get} %>
                <%= link_to "ログインはこちら", posts_path %>
            </div>
        </div>
    </div>

    <div class="sympathy">
        <div class="sympathy__main">
            <h1>女性エンジニアの割合は低い。</h2>
            <img src="/assets/pcwomen.jpg" alt="women" />
            <p class="sympathy__text1">“もっと女性エンジニアと繋がりたい”</p>
            <p class="sympathy__text2">“周りに女性が少ないから不安”</p>
            <p class="sympathy__text3">“実際に女性エンジニアってどんな人がいるの？”</p>
        </div>
    </div>

    <div class="contents">
        <div class="contents__main">
            <img src="/assets/connect.jpg" alt="connect">
            <h1>Wcommunityとは...</h1>
            <p class="contents__text1">
                女性エンジニアやエンジニアを目指す女性が繋がる<br>
                コミュニケーションプラットフォームです。
            </p>
            <p class="contents__text2">
                現在、女性エンジニアの割合は２割と言われています。<br>
                もっとエンジニアを目指す女性が増えてほしい、<br>
                女性エンジニアが働きやすい環境になってほしい、<br>
                そういった想いからこのサービスは生まれました。
            </p>
        </div>
    </div>

    <div class="benefit">
        <div class="benefit__main">
            <div class="benefit__chat">
                <h2>チャットで繋がる</h2>
                <img src="/assets/chat.png" alt="chat" class="benefit__img">
            </div>
            <div class="benefit__map">
                <h2>マップで繋がる</h2>
                <img src="/assets/japanmap.png" alt="map" class="benefit__img">
            </div>
            <div class="benefit__post">
                <h2>投稿で繋がる</h2>
                <img src="/assets/post.png" alt="post" class="benefit__img">
            </div>
        </div>
    </div>

</div>