<%= stylesheet_link_tag 'top', :media => "all" %>

<div class="wrapper">
    <div class="top">
        <div class="top__main">
            <img src="/assets/top.png" alt="top" />
            <h1>女性エンジニアと<br>繋がる</h1>
            <p>女性エンジニアやエンジニアを目指す女性が繋がるサービスです。</p>
            <div class="top__btn">
                <%= button_to "新規登録（無料）", new_user_registration_path, class: "btn float" %>
                <%= link_to "ログインはこちら", posts_path %>
            </div>
        </div>
    </div>

    <div class="sympathy">
        <div class="sympathy__main">
        
        </div>
    </div>

    <div class="contents">
    </div>

    <div class="benefit">
    </div>

</div>